/* Author: MANISHA RANI */
html,body {
    background-color: #fff;
    justify-content: center;  /* Horizontal center */
    align-items: center;
        overflow-x: auto;
}

.container-fluid
{
    max-width: 500px;
}
.table-responsive {
    overflow-x: auto;
}



th, td {
    white-space: normal;

    max-width: 100px;
}
 .container{
    max-width:80%;
   margin: 0 auto;
 } 
 .container-dashboard{
     max-width:50%;
   margin: 0 auto;
 }
.profile-pic
{
    align-content: center;
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 50%;

}


.active{
    text-decoration: underline red;
    color: red;
}
.container-grid{
    padding: 5px;
    margin: 5px;

  

}

.product-card{
    width: 300px;
    height: 400px;
    padding: 5px;
    box-shadow: 3px black;
    background-color: white;
    text-align: center;
    align-items: center;
        


}
.product-card:hover{
    transform: translate(10px);
}
.heading{
    text-align: center;

}
.product-name{
    font-size: 1.2rem;
    color: black;
    padding: 5px;
    max-width: 200px;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    

}
.product-img{
    height: 250px;
    width: 230px;
    border: 0;
    object-fit:center;
    display: block;

}
#price{
    font-size: 1rem;
    color: blue;

}
.buy{
    background-color: orange;
    color: white;
    box-shadow: 2px black;
    height: 50px;
    width: 200px;
    border-radius: 5rem;

}
.buy:hover{
    opacity: 50%;
}
.container-login{

    text-align: center;
    display: grid;
    height: 20%;
    width: 20%;


}
.table-responsive {
    position: relative;
    z-index: 1;
}
.login-btn:hover{
    opacity: 50%;
}
.main {
    align-self: center;
	box-align: center;
	display: grid;
    width: 100%;
    height: 80%;
    margin: 20px ;
    padding: 20px;
    background-color: #f09031;
overflow-x: auto;

}
.error{
    color: red;
}

.my-black{
    background-color: black;
}




.profile-container {
    display: flex;               
    justify-content: center;      
    align-items: center;          
    flex-direction: column;       
    margin-top: 20px;
}


.info{
    margin-top: 40px !important;
    align-content: left !important;
}
