/* Author: MANISHA RANI */
body {
    background-color: #fff;
    
}

.right-nav{
    align-items: right;!important
    text-align: right;!important
    font-size: 1rem;!important

}

.active{
    text-decoration: underline red;
    color: red;
}

.main {
	box-align: center;
	display: grid;
    width: 90%;
    margin: 80px;
    padding: 20px;
    background-color: #f09031;
}
.error{
    color: red;
}
.hide{
    display: none;
}
.my-black{
    background-color: black;
}

.delete-section{
    color: #000;
    width:100% !important;
    padding: 10px;
  background-color: whitesmoke !important;
}
.content-section{
    display: inline-grid;
    color: #000;
    width:250px;
    padding: 10px;
  background-color: whitesmoke;
}
.article{
    background-color: whitesmoke;
        padding: 20px;
         width: 100%;
         margin: 2px;
}
.article-title{
  color: purple;
  font-size: 2rem;
}

.article-content{
  color: #333;
  line-height: 1.6;
  font-size: 1rem;
}
.article-img{
     width: 30px !important;
    height: 30px !important;
}
/*style profile image of user*/
.profile-container {
    display: flex;               
    justify-content: center;      
    align-items: center;          
    flex-direction: column;       
    margin-top: 20px;
}

.profile-pic {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;          
    object-fit: cover;            
    border: 2px solid #333;
    margin: 20px auto;           
}


.info{
    margin-top: 40px !important;
    align-content: left !important;
}
