/* Author: MANISHA RANI */
body {
    background-color: #fff;
       display: flex;
    justify-content: center;  /* Horizontal center */
    align-items: center;
    
}
.profile-pic
{
    align-content: center;
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 50%;

}


.active{
    text-decoration: underline red;
    color: red;
}
.container-grid{
    padding: 5px;
    margin: 5px;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    gap: 1; 

  

}
.container-grid-flex{
    padding: 5px;
    display: flex;
    gap:0;

  

}
.product-card{
    width: 350px;
    height: 400px;
    padding: 5px;
    box-shadow: 3px black;
    background-color: white;
        display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    text-align: center;  


}
.product-card:hover{
    transform: translate(10px);
}
.heading{
    text-align: center;

}
.product-name{
    font-size: 1.2rem;
    color: black;
    padding: 5px;
    max-width: 200px;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    

}
.product-img{
    height: 250px;
    width: 230px;
    border: 0;

}
#price{
    font-size: 1rem;
    color: blue;

}
.buy{
    background-color: orange;
    color: white;
    box-shadow: 2px black;
    height: 50px;
    width: 200px;
    border-radius: 5rem;

}
.buy:hover{
    opacity: 50%;
}
.container-login{

    text-align: center;
    display: grid;
    height: 20%;
    width: 20%;


}
.login-btn:hover{
    opacity: 50%;
}
.main {
    align-self: center;
	box-align: center;
	display: grid;
    width: 90%;
    height: 80%;
    margin: 80px;
    padding: 20px;
    background-color: #f09031;


}
.error{
    color: red;
}
.hide{
    display: none;
}
.my-black{
    background-color: black;
}




.profile-container {
    display: flex;               
    justify-content: center;      
    align-items: center;          
    flex-direction: column;       
    margin-top: 20px;
}


.info{
    margin-top: 40px !important;
    align-content: left !important;
}
