{% extends "blog/base.html" %}
{% block content %}
    <div class="main">
        <div class="alert alert-info">
            Your password is updated!
        </div>
        
        <div class="profile-info">
            <img src="{{ profile.image.url }}" alt="Profile Image" width="100" style="display: none;">
            <p>{{ profile.user.username }}</p>
            <div class="border-top pt-3">

        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again!</a>
        </small>
    </div>
        </div>
    </div>
{% endblock %}
