<!-- Author: MANISHA RANI -->
{% extends "admin_panel/Base.html" %}
{% load crispy_forms_tags %}
<!-- created user profile to show user details and profile pic -->
{% block content %}
<div class="profile-container">

<div class="info">
	<h2 class="account-heading">{{ profile.user.username }}</h2>
 <p>Mobile: {{ profile.mobile_number }}</p>
</div>


<form method="POST" >
    	{% csrf_token %}
    	<fieldset class="form-group">
    		<legend class="border-bottom mb-4">
    			Profile Info
    		</legend>
    		{{ u_form|crispy }}
    		{{ p_form|crispy }}
    	</fieldset>
    	<div class="form-group">
    		<button class="btn btn-outline-info" type="submit">Update</button>
    	</div>
    </form>
	
</div>
{% endblock %}

